@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-outfit;
  background-color: $primary-color;
  color: $text-color;
}
